<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add/Edit balloon</title>
</head>
<body>

<form action="/balloons/add" method="POST">

    <div>
        <label for="name">Balloon name</label>
        <input type="text"
               id="name"
               name="name"
               th:value="(${balloon} != null ? ${balloon.getName()} : '')"
               required
               placeholder="Enter balloon name:">
    </div>
    <div>
        <label for="desc">Balloon name</label>
        <input type="text"
               id="desc"
               name="desc"
               th:value="(${balloon} != null ? ${balloon.getDescription()} : '')"
               required
               placeholder="Enter balloon description:">
    </div>
    <div>
        <label>Manufacturer</label>
        <select name="manufacturer" id="manufacturer">
            <option th:if="${balloon} != null"
                    th:selected="${balloon.getManufacturer() != null && balloon.getManufacturer().getId()==man.getId()}"
                    th:each="man : ${manufacturers}"
                    th:text="${man.getName()}"
                    th:value="${man.getId()}">
            </option>
            <option th:if="${balloon} == null"
                    th:each="man : ${manufacturers}"
                    th:text="${man.getName()}"
                    th:value="${man.getId()}">
            </option>
        </select>
    </div>
    <button type="submit" id="submit">Submit</button>
</form>
</body>
</html>