<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>WP lab - Confirmation Info</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
        table {
            width:100%;
        }
        table, td, th {
            border: 1px solid black;
            padding: 3px 2px;
        }
    </style>
</head>
<body>
<section>
    <header>
        <h1>Balloon Order page - Order confirmation </h1>
    </header>
    <table>
        <tr>
            <th colspan="2">
                Your Order Status
            </th>
        </tr>
        <tr>
            <td><b>Client Name </b></td>
            <td><th:block th:text="${session.name}"></th:block></td>

        </tr>
        <tr>
            <td><b>Client Address </b></td>
           <td><th:block th:text="${session.address}"></th:block></td>
        </tr>
        <tr>
            <td><b>Client IP Address</b></td>
            <td><th:block th:text="${remoteAddress}"></th:block></td>
        </tr>
        <tr>
            <td><b>Client Browser</b></td>
            <td><th:block th:text="${clientAgent}"></th:block></td>
        </tr>
        <tr>
            <td><b>Balloon Color </b></td>
            <td><th:block th:text="${session.balloon.description}"></th:block></td>
        </tr>
        <tr>
            <td><b>Balloon Size </b></td>
            <td><th:block th:text="${session.size}"></th:block></td>
        </tr>
    </table>
    <div>
        <form th:method="post" th:action="@{/ConfirmationInfo}">
        <input type="submit" value="Log out">
        </form>

    </div>
    <a th:href="@{'/balloons/orders?clientName='+${session.name}+'&clientAddress='+${session.address}}">Search orders for this client</a>


</section>
</body>
</html>